<h2><center>Summary results</center></h2>
<br /> 
<br /> 
<table>
  <thead>
    <tr>
      <th>Answers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	<% $resultlist.each do |item| %>
      <tr>
        <td>
          <div class="alert alert-warning" role="alert">
          <%= item %>
          </div>
        </td>       
      </tr>    
	<% end %>
  </tbody>
</table>

<h2>Total score: <%= @score %> </h2>
<h3>You have: <%= $final_score %> </h3>

