<h1>Summary results</h1>

<table>
  <thead>
    <tr>
      <th>Results</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	<% $resultlist.each do |item| %>
      <tr>
        <td><%= item %></td>
        <br />
      </tr>
	<% end %>
  </tbody>
</table>

<h2>Total score: <%= @score %> </h2>
<h3>You have: <%= $final_score %> </h3>

