<%= form_for(@validate_percentage) do |f| %>
  <% if @validate_percentage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@validate_percentage.errors.count, "error") %> prohibited this validate_percentage from being saved:</h2>

      <ul>
      <% @validate_percentage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
